.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
}

.brz-third-party:has(.button) {
  display: flex;
  justify-content: inherit;
}

.blocked {
  pointer-events: none;
}
